:root {
    --primary-color: #f9c74f;
    --secondary-color: #ffff;
    --accent-color: #f94144;
    --text-color: #000;
    --background-color: #b367d8;
}

/* MAIN */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

h1 {
    padding-top: 60px;
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 15px var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;

    background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    animation: text-glow 2s infinite alternate;
}

@keyframes text-glow {
    0% {
        text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--accent-color), 0 0 20px var(--accent-color);
    }
    100% {
        text-shadow: 0 0 10px var(--accent-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color);
    }
}

/* BUTTONS */
button {
    margin: 20px 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 25px;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

button:hover {
    font-weight: bold;
    background-color: var(--accent-color);
    transform: scale(1.05);
}


button + button { /* Add spacing between buttons when stacked vertically */
    margin-top: 10px;
}

/* POP-UP */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: left;
    width: 320px;
}

.popup input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--text-color);
    background: var(--secondary-color);
    box-sizing: border-box;
    font-size: 14px;
}

.popup button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.popup button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.list-container {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 300px;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    z-index: 10;
}

.list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.list-container li:last-child {
    border-bottom: none;
}

.list-container button {
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.list-container button:hover {
    background: var(--primary-color);
}

/* WINNER POP-UP */
.winner-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    color: var(--text-color);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 20;
    text-align: center;
    opacity: 80%;
    width: 50vh;
}

.winner-popup h2 {
    font-size: 2.5rem;
    color: #ffff;
    margin-bottom: 20px;
    animation: pop-scale 0.5s ease-out;
}

.winner-popup p {
    font-size: 1.5rem;
    color: #ffff;
    margin-bottom: 30px;
    animation: text-glow 2s infinite alternate;
}

.winner-popup button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    font-size: 1rem;
}

.winner-popup button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

@keyframes pop-scale {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}